[user]
	name = Xabier Davila
	email = davila.xabier@gmail.com
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	cp = cherry-pick
	st = status -sb
	cl = clone
	ci = commit
	co = checkout
    br = branch
    bra = branch -va
	diff = diff --word-diff
	dc = diff --cached
    logtree = log --graph --oneline --decorate --all
    unstage = reset --
    exec = '!exec ' 
	elsevier = config --local user.email x.davila@elsevier.com
	awsrepo = !git remote add origin https://git-codecommit.eu-west-1.amazonaws.com/v1/repos/ && git config --local credential.UseHttpPath true && git config --local credential.helper '!aws codecommit credential-helper $@'
	hook-commit = !ln -s ~/Repos/xabier/git-local-hooks/commit-msg#Fail_commit_if_no_jira_key_present.sh .git/hooks/commit-msg
	hook-prepare = !ln -s ~/Repos/xabier/git-local-hooks/prepare-commit-msg#Insert_jira_issue_from_branch.sh .git/hooks/prepare-commit-msg

#[credential]
#	helper = osxkeychain
[credential]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[core]
	excludesfile = /Users/davilax/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[init]
	templateDir = /Users/davilax/.git-template
[commit]
	template = /Users/davilax/.stCommitMsg
