[user]
	name = Xabier Davila
	email = xabier.davila@talpanetwork.com
[color]
	ui = true

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]

	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions

[color "status"]

	added = yellow
	changed = green
	untracked = cyan

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	dl = "!git ll -1"
	dlc = diff --cached HEAD^
	cp = cherry-pick
	st = status -sb
	cl = clone
	ci = commit
	co = checkout
    br = branch
    bra = branch -va
	diff = diff --word-diff
	dc = diff --cached
    logtree = log --graph --oneline --decorate --all
    unstage = reset --
    exec = '!exec ' 
    ria = rebase -i --autosquash
	elsevier = config --local user.email x.davila@elsevier.com
	xabier = config --local user.email davila.xabier@gmail.com
	awsrepo = !git remote add origin https://git-codecommit.eu-west-1.amazonaws.com/v1/repos/ && git config --local credential.UseHttpPath true && git config --local credential.helper '!aws codecommit credential-helper $@'
	hook-commit = !ln -s ~/Repos/xabier/git-local-hooks/commit-msg#Fail_commit_if_no_jira_key_present.sh .git/hooks/commit-msg
	hook-prepare = !ln -s ~/Repos/xabier/git-local-hooks/prepare-commit-msg#Insert_jira_issue_from_branch.sh .git/hooks/prepare-commit-msg
	fix = commit --fixup=HEAD
	autosquash = rebase -i --autosquash

#[credential]
#	helper = osxkeychain
[credential]
    helper = !aws codecommit credential-helper $@
    UseHttpPath = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/xabier davila/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
#[init]
	templateDir = /Users/davilax/.git-template
#[commit]
#	template = /Users/davilax/.stCommitMsg

[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
	
[commit]
	template = /Users/xabier davila/.stCommitMsg
[init]
	defaultBranch = main
